# This starter workflow is for a CMake project running on a single platform. There is a different starter workflow if you need cross-platform coverage.
# See: https://github.com/actions/starter-workflows/blob/main/ci/cmake-multi-platform.yml
name: CI

on: [push]

env:
  BUILD_TYPE: Debug

jobs:
  build:
    runs-on: ubuntu-latest
    container: archlinux:latest
    
    steps:
    - name: Dependencies
      run: pacman -Sy --noconfirm base-devel git cmake ninja llvm clang
      
    - uses: actions/checkout@v6
      with:
        submodules: recursive

    - name: CMake
      run: cmake -B build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -G Ninja

    - name: Build
      run: ninja -v -C build
      
    - name: Upload Artifacts
      uses: actions/upload-artifact@v5
      with:
        path: build

  test:
    needs: build
    runs-on: ubuntu-latest
    container: archlinux:latest

    steps:
    - name: Dependencies
      run: pacman -Sy --noconfirm base-devel git cmake ninja llvm python wabt sudo wasmtime

    - name: Install wasi-sdk-bin (AUR)
      run: |
        useradd -m builduser
        echo "builduser ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers
        su - builduser -c "git clone https://aur.archlinux.org/wasi-sdk-bin.git && cd wasi-sdk-bin && makepkg -si --noconfirm"

    - uses: actions/checkout@v6
      with:
        submodules: recursive

    - name: Download Artifacts
      uses: actions/download-artifact@v5
      with:
        path: build
 
    - name: Fix Permissions
      run: chmod +x build/app/watever

    - name: Test
      run: lit -sv build/test
